<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676022371548-bm45n8betift44j68h64qls8936ds6ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676022371548-bm45n8betift44j68h64qls8936ds6ur</string>
	<key>API_KEY</key>
	<string>AIzaSyBOCUcy30LBheEPMUu_6OPDcw6Wbyccqtk</string>
	<key>GCM_SENDER_ID</key>
	<string>676022371548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hrApp</string>
	<key>PROJECT_ID</key>
	<string>hr-system-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hr-system-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676022371548:ios:d1ee8200cf2278ae19a019</string>
</dict>
</plist>